<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
    <div class="container">
        <h1>投票</h1>

        {% if vote %}
        <form action="#" method="POST">
            {{ vote.matter }}<br>
            <input type="radio" name="choose" value="1">{{ vote.choose1}}<br>
            <input type="radio" name="choose" value="2">{{ vote.choose2}}<br><input type="submit" value="提交">
        </form>
        {% else %}
            wu

        {% endif %}
    </div>




</body>
</html>