<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票列表</title>
</head>
<body>
    <div class="container">
        <h1>选择你的感兴趣的投票</h1>
    <br>
            {% if allvote %}
        <ul>
            {% for vote in allvote %}
                <li><a href="/vote/detail/{{vote.id}}/">{{ vote.matter }}</a></li>
            {% empty %}

            {%  endfor %}
        </ul>
            {% else %}
            {% endif %}

    <a href="{% url 'vote:index'%}">返回首页</a>
    </div>

</body>
</html>