<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div>

  <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">login</a>
            </li>
            <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">register</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="login">
                <h2>登录</h2>
                {{error}}
                <form class="form-horizontal" method="post" action="#">
                     {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" name="login_name" class="form-control" id="username" placeholder="请输入用户名">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" name="login_pwd" class="form-control" id="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="verify" class="col-sm-2 control-label">验证码</label>
                        <div class="col-sm-2">
                            <img src="{% url 'vote:verify' %}" alt="" width="100" height="35">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="verify" class="form-control" id="verify" placeholder="请输入验证码">
                        </div>
                    </div>


                                                <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                  <div class="checkbox">
                                    <label>
                                        <a href="{% url 'vote:change_pwd' %}">忘记密码</a>
                                    </label>
                                  </div>
                                </div>
                              </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">登录</button>
                        </div>
                    </div>
                </form>

            </div>

            {# ------------------------------------------------------------- #}
            <div role="tabpanel" class="tab-pane" id="register">

                <h2>注册</h2>
                {{error}}
                <form class="form-horizontal" method="post" action="{% url 'vote:register' %}">
                     {% csrf_token %}
                    <div class="form-group">
                        <label for="regis_username" class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-10">
                            <input type="text" name="regis_name" class="form-control" id="regis_username" placeholder="请输入用户名">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="regis_pwd" class="col-sm-2 control-label">密码：</label>
                        <div class="col-sm-10">
                            <input type="password" name="regis_pwd" class="form-control" id="regis_pwd" placeholder="请输入密码">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="regis_pwd_1" class="col-sm-2 control-label">确认密码：</label>
                        <div class="col-sm-10">
                            <input type="password" name="regis_pwd1" class="form-control" id="regis_pwd_1" placeholder="请输入密码">
                        </div>

                     <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" class="form-control" id="email" placeholder="请输入邮箱">
                        </div>
                     </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">注册</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
</div>

</body>
</html>